* {
    box-sizing: border-box;
}

html {
    font-family: Montserrat;
}

body {
    margin: 0;
    padding: 0;
    color: var(--clr1);
}

a {
    text-decoration: none;
    color: unset;
}

button {
    background-color: unset;
}

p {
    margin: 0 0 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 1rem;
}

img {
    width: 100%;
    
}