.header-layout {
    margin: 0 auto;
    padding-left: 6px;
    padding-right: 6px;
}

.main-layout {
    margin: 0 auto;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 50px;
    padding-bottom: 5px;
}