.about-container {
    height: 387px;
    gap: 20px;
}

.about-image {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.about-content .about-title {
    font-family: Montserrat-Bold;
    color: var(--clr6);
}

.about-content .about-text {
    color: var(--clr6);
    width: 400px;
    font-size: 14px;
}

.about-content .contact {
    height: 30px;
    width: 30px;
    border-radius: 6px;
    border: none;
    background-color: var(--clr2);
}

.about-content .contact .contact-icon {
    filter: invert(93%) sepia(93%) saturate(26%) hue-rotate(10deg) brightness(106%) contrast(105%);
}