.about-container {
    min-height: 387px;
    gap: 10px;
    flex-direction: column;
    text-align: center;
    padding-bottom: 10px;
}

.about-container .about-image {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.about-container .about-content .about-title {
    font-family: Montserrat-Bold;
    color: var(--clr6);
}

.about-container .about-content .about-text {
    color: var(--clr6);
    max-width: 300px;
    font-size: 13px;
}

.about-container .about-content .contact {
    height: 30px;
    width: 30px;
    border-radius: 6px;
    border: none;
    background-color: var(--clr2);
}

.about-container .about-content .contact .contact-icon {
    filter: invert(93%) sepia(93%) saturate(26%) hue-rotate(10deg) brightness(106%) contrast(105%);
}