.canvas-container {
    background-color: var(--clr4);
    margin: 0 auto;
    width: 100%;
    height: 100vh;
}

.my-canvas {
    margin: 0 auto;
}

.canvas-icon {
    height: 30px;
    width: 30px;
    background-color: var(--clr1);
    border-radius: 6px;
    padding: 5px;
}