.main-header {
    background-color: var(--clr2);
    box-shadow: inset 0 -3px 0 var(--clr2);
}

.header-container .main-nav a {
    height: 45px;
    width: 45px;
    transition: box-shadow .1s;
    font-size: 10px;
}

.header-container .main-nav a:hover {
    color: var(--clr3);
    box-shadow: inset 0 -3px 0 var(--clr3);
    font-weight: bold;
}

.header-container .logo {
    font-family: Changa One;
    color: rgba(255, 255, 255);
}

.header-container .separator {
    color: var(--clr2);
    font-size: 10px;
}